@font-face {
    font-family: 'yeysk';
    src: url('../fonts/yeysk.woff') format('woff'), /* Modern Browsers */
}

@media only screen and (max-width: 820px){    
    body{
        background-color: #141820;
        margin: 0;
        padding: 0;
    }
    
    .header{
        padding: 0;
        margin: 0;
        width: 100%;
        border: solid 1px red;
    }
    
    .header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header nav ul li{
        list-style: none;
        font-family: yeysk;
        margin:0 10% 0 10%;
    }
    
    .header nav ul li:first-child{
        margin-left: -7%;
    }
    
    .header nav ul li a{
        text-decoration: none;
        color: #F6F5FA;
    }
    
    .header nav ul li{
        color: #F6F5FA;
        font-family: yeysk;
        font-size: 14px;
    }    
}

@media screen and (min-width: 820px){
    body{
        background-color: #141820;
        margin: 0;
        padding: 0;
    }
    
    .header{
        padding: 0;
        margin: 0;
    }
    
    .header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .header nav ul li{
        list-style: none;
        font-family: yeysk;
        margin:0 10% 0 10%;
    }
    
    .header nav ul li:first-child{
        margin-left: 7%;
    }
    
    .header nav ul li a{
        text-decoration: none;
        color: #F6F5FA;
    }
    
    .header nav ul li{
        color: #F6F5FA;
        font-family: yeysk;
        font-size: 18px;
    }
    
}