@font-face {
    font-family: 'yeysk';
    src: url('../fonts/yeysk.woff') format('woff'), /* Modern Browsers */
}

body{
    background-color: #141820;
}

.header{
    padding: 0;
}

.header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header nav ul li{
    list-style: none;
    font-family: yeysk;
}

.header nav ul li a{
    text-decoration: none;
    color: #F6F5FA;
}

.header nav ul li{
    color: #F6F5FA;
    font-family: yeysk;
    font-size: 18px;
}
